{% extends 'base.html.twig' %}

{% block head %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/styles/app.css') }}">
    {% endblock %}
{% endblock %}

{% block title %}Mon Atelier Garage{% endblock %}

{% block body %}
<section id="accueil-index">
    <div class="container-fluid">
        <div class="moto row align-items-center">
            
            <div class="col-md-6 p-0">
                <img src="{{ asset('images/images-accueil/moto_profile_design_sport_sans_fond-removebg-preview.png') }}" class="img-moto" alt="img moto" style="width: 38%; height: auto;">
            </div>
            <div class="col-md-6 text-end">
                <h2 class="text-light custom-h2 d-flex justify-content-center">Répertoriez vos entretiens facilement!</h2>
                <p class="text-light custom-p pt-3 d-flex justify-content-center">Créez votre propre garage et enregistrez vos véhicules et entretiens effectués !</p>
            </div>
        </div>
        
        <div class="voiture row align-items-center">
          <div class="col-md-6 text-start">
                <h2 class="text-light custom-h2 d-flex justify-content-start">Besoin d’aide en mécanique?</h2>
                <p class="text-light custom-p pt-3 d-flex justify-content-start">Rejoignez la communauté à travers des forums !</p>
            </div>  
            <div class="col-md-6 p-0 d-flex justify-content-end">
                <img src="{{ asset('images/images-accueil/test-auto-1-removebg-preview.png') }}" class="img-voiture" alt="img voiture" style="width: 60%; height: auto;">
            </div>
        </div>
    </div>
</section>
{% endblock %}
