{% extends 'base.html.twig' %}

{% block title %}Mon Atelier Garage
{% endblock %}

{% block body %}

	<section id="accueil-index">
		<div class="pt-5 container-fluid">
			<h2 class="text-light text-center d-flex justify-content-end pt-5 mt-5 mb-2 fs-1">Répertoriez vos entretiens facilement!</h2>
			<p class="text-center d-flex justify-content-end fs-5 pt-3">Créez votre propre garage et enregistrez vos véhicules et entretien effectués !</p>
		</div>
		<div class="d-flex justify-content-end">
			<img src="./assets/images-accueil/test-auto-1-removebg-preview.png" width="30%" alt="img voiture">
		</div>


	
			<div class="pl-5 container-fluid">
				<h2 class="text-light mb-2 fs-1 pl-5">Besoin d’aide en mécanique?</h2>
				<p class="fs-5 pt-3">Rejoignez la communautée à travers des forums !</p>
			</div>
			<div class="d-flex justify-content-start">
				<img src="./assets/images-accueil/moto_profile_design_sport_sans_fond-removebg-preview.png" width="20%" alt="img moto">
			</div>
		</div>
	</section>
{% endblock %}
